## HW1

<b> В задании нужно загрузить датасет с данными оттока и ответить на несколько вопросов (написать код). При этом сам датасет уже есть и его необязательно качать с репозитория</b> <br><br>
Цель задания: проверить базовые навыки работы студентов с Pandas, умение проводить такой же базовый EDA (exploratory data analysis), делать feature engineering и обучать и валидировать модель.<br>
Список столбцов с типами данных в датасете:

- customerID           object
- gender               object
- SeniorCitizen         int64
- Partner              object
- Dependents           object
- tenure                int64
- PhoneService         object
- MultipleLines        object
- InternetService      object
- OnlineSecurity       object
- OnlineBackup         object
- DeviceProtection     object
- TechSupport          object
- StreamingTV          object
- StreamingMovies      object
- Contract             object
- PaperlessBilling     object
- PaymentMethod        object
- MonthlyCharges      float64
- TotalCharges         object
- Churn                object

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("./WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

##### 1. Какое соотношение мужчин и женщин в представленном наборе данных?

In [2]:
women = df.loc[df['gender'] == 'Female', 'gender'].count()
men = df.loc[df['gender'] == 'Male', 'gender'].count()
all_customers = df['gender'].count()
print(f'Percent of female customers - {round(women/all_customers*100,2)}%'
      f'\nPercent of male customers - {round(men/all_customers*100,2)}%')

Percent of female customers - 49.52%
Percent of male customers - 50.48%

##### 2. Какое количество уникальных значений у поля InternetService?

In [3]:
internetservice_unique_value = df['InternetService'].unique().size
print(f'Number of unique values in "InternetService" column - {internetservice_unique_value}')

Number of unique values in "InternetService" column - 3

##### 3. Выведите статистики по полю TotalCharges (median, mean, std).

In [4]:
print(f"'TotalCharges' data\nMedian - {pd.to_numeric(df['TotalCharges'], errors='coerce').median()}"
      f"\nMean - {pd.to_numeric(df['TotalCharges'], errors='coerce').mean()}"
      f"\nStd - {pd.to_numeric(df['TotalCharges'], errors='coerce').std()}")

'TotalCharges' data
Median - 1397.475
Mean - 2283.3004408418697
Std - 2266.7713618831453

В чем странность того, что вы получили? (подсказка: смотреть нужно на тип данных)<br><br>
errors{‘ignore’, ‘raise’, ‘coerce’}, default ‘raise’
If ‘raise’, then invalid parsing will raise an exception.
If ‘coerce’, then invalid parsing will be set as NaN.
If ‘ignore’, then invalid parsing will return the input.

##### 4. Сделайте замену значений поля PhoneService  на числовые (Yes->1, No->0)

In [5]:
print(f"Initial values in column 'PhoneService' - {df['PhoneService'].unique()}")

Initial values in column 'PhoneService' - ['No' 'Yes']

In [6]:
df.loc[df['PhoneService'] == 'Yes', 'PhoneService'] = 1
df.loc[df['PhoneService'] == 'No', 'PhoneService'] = 0
print(f"Changed values in column 'PhoneService' - {df['PhoneService'].unique()}")

Changed values in column 'PhoneService' - [0 1]

##### 5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. Снова выведите статистики и сравните с тем, что вы видели в вопросе 3

In [7]:
print(f"Initial data in column 'TotalCharges' - {df['TotalCharges'].unique()}, {df['TotalCharges'].dtype}, none - {df['TotalCharges'].isna().sum()}")

Initial data in column 'TotalCharges' - ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5'], object, none - 0

In [8]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce').astype('float32')
df.loc[df['TotalCharges'].isnull(),'TotalCharges'] = 0
# df['TotalCharges'].fillna(0) - somthing wrong. did not work
print(f"Changed data in column 'TotalCharges' - {df['TotalCharges'].unique()}, {df['TotalCharges'].dtype}")
df['TotalCharges'].isna().sum()

Changed data in column 'TotalCharges' - [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ], float32

0

##### 6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)

In [9]:
print(f"Initial values in column 'Churn' - {df['Churn'].unique()}")

Initial values in column 'Churn' - ['No' 'Yes']

In [10]:
df.loc[df['Churn'] == 'Yes', 'Churn'] = 1
df.loc[df['Churn'] == 'No', 'Churn'] = 0
df['Churn'] = df['Churn'].astype('int8')
print(f"Changed values in column 'Churn' - {df['Churn'].unique()}, {df['Churn'].dtype}")

Changed values in column 'Churn' - [0 1], int8

##### 7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport  на числовые (Yes -> 1, No -> 0, No internet service->0)

In [11]:
print(f"Initial values in column 'StreamingMovies' - {df['StreamingMovies'].unique()}")
print(f"Initial values in column 'StreamingTV' - {df['StreamingTV'].unique()}")
print(f"Initial values in column 'TechSupport' - {df['TechSupport'].unique()}")

Initial values in column 'StreamingMovies' - ['No' 'Yes' 'No internet service']
Initial values in column 'StreamingTV' - ['No' 'Yes' 'No internet service']
Initial values in column 'TechSupport' - ['No' 'Yes' 'No internet service']

In [12]:
df.loc[df['StreamingMovies'] == 'Yes', 'StreamingMovies'] = 1
df.loc[df['StreamingMovies'] == 'No', 'StreamingMovies'] = 0
df.loc[df['StreamingMovies'] == 'No internet service', 'StreamingMovies'] = 0
df['StreamingMovies'] = df['StreamingMovies'].astype('int8')
print(f"Changed values in column 'StreamingMovies' - {df['StreamingMovies'].unique()}, {df['StreamingMovies'].dtype}")

df.loc[df['StreamingTV'] == 'Yes', 'StreamingTV'] = 1
df.loc[df['StreamingTV'] == 'No', 'StreamingTV'] = 0
df.loc[df['StreamingTV'] == 'No internet service', 'StreamingTV'] = 0
df['StreamingTV'] = df['StreamingMovies'].astype('int8')
print(f"Changed values in column 'StreamingTV' - {df['StreamingTV'].unique()}, {df['StreamingTV'].dtype}")

df.loc[df['TechSupport'] == 'Yes', 'TechSupport'] = 1
df.loc[df['TechSupport'] == 'No', 'TechSupport'] = 0
df.loc[df['TechSupport'] == 'No internet service', 'TechSupport'] = 0
df['TechSupport'] = df['TechSupport'].astype('int8')
print(f"Changed values in column 'TechSupport' - {df['TechSupport'].unique()}, {df['TechSupport'].dtype}")

Changed values in column 'StreamingMovies' - [0 1], int8
Changed values in column 'StreamingTV' - [0 1], int8
Changed values in column 'TechSupport' - [0 1], int8

##### 8. Заполните пропуски в поле PhoneService значением 0

In [13]:
print(f"Initial values in column 'PhoneService' - {df['PhoneService'].unique()}")
# such elements is absent but code:
# df['PhoneService'].fillna(value = 0)
df['PhoneService'] = df['PhoneService'].astype('int8')

Initial values in column 'PhoneService' - [0 1]

#### 8. Для нашего датасета оставьте только указанный ниже список полей, удалив все другие и выведите верхние 3 строки

In [14]:
columns = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 
           'StreamingMovies', 'StreamingTV', 'TechSupport', 'Churn']
df = df[columns]
df.head(3)

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport,Churn
0,Female,1,0,29.850000,0,0,0,0
1,Male,34,1,1889.500000,0,0,0,0
2,Male,2,1,108.150002,0,0,0,1

##### 9. Разделите датасет на тренировочную и тестовую выборку (подсказка - воспользуйтесь train_test_split из sklearn.model_selection. Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [15]:
from sklearn.model_selection import train_test_split

features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = 'Churn'
#Ваш код здесь
# train_test_split(*arrays, test_size=None, train_size=None, random_state=None, shuffle=True, stratify=None)[source]

X_train, X_test, y_train, y_test = train_test_split(df[features], df[target], test_size=0.33, random_state=15)

In [16]:
for col in X_train:
    print(col , '--', X_train[col].unique(), ' ', X_train[col].dtype)

gender -- ['Female' 'Male']   object
tenure -- [ 1 69 18 15 43 42 37 54 52  8 55 25 46  9 48 41 38 31 11 53 26  7 13 71
 22 21 20 28 19 39  4 63 70  3 65 16 47 61 59 33 36 34 14 23 72  2 50 10
 58 49 24 27  5 45 64 56 35 32 44 57 12 40 60 17 30 66 67 62 68 51 29  6
  0]   int64
PhoneService -- [1 0]   int8
TotalCharges -- [  19.5  7665.8  1156.35 ... 1458.1  1414.8  4388.4 ]   float32
StreamingMovies -- [0 1]   int8
StreamingTV -- [0 1]   int8
TechSupport -- [0 1]   int8

In [17]:
X_train.isna().sum()

gender             0
tenure             0
PhoneService       0
TotalCharges       0
StreamingMovies    0
StreamingTV        0
TechSupport        0
dtype: int64

##### 10. соберите pipeline для поля gender (нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее

In [18]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

class ColumnSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.key]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in test_columns:
            if col_ not in self.columns:
                X[col_] = 0
        return X[self.columns]

gender = Pipeline([
                ('selector', ColumnSelector(key='gender')),
                ('ohe', OHEEncoder(key='gender'))
            ])

##### 11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку (пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.fit)

In [19]:
#Ваш код здесь
gender.fit_transform(X_train, y_train)

      gender_Female  gender_Male
3457              1            0
5349              0            1
2996              1            0
3469              1            0
135               1            0
...             ...          ...
2715              0            1
2204              0            1
6528              0            1
2693              0            1
3829              0            1

[4718 rows x 2 columns]

##### 12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Вопрос - в каких случаях это может быть полезно?  - смещенные данные с кратной разницей в абсолютных значениях разных полей приведут к переобучению по одним признакам и "недообучению" по другим

In [20]:
from sklearn.preprocessing import StandardScaler

tenure =  Pipeline([
                ('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())
            ])

##### 13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges

In [21]:
total_charges =  Pipeline([
                ('selector', NumberSelector(key='TotalCharges')),
                ('standard', StandardScaler())
            ])

Объединение всех "кубиков" очень легко сделать таким образом

In [22]:
from sklearn.pipeline import FeatureUnion

number_features = Pipeline([
                ('selector', ColumnSelector(key=['PhoneService',
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])

In [23]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', total_charges),
                      ('continuos_features', number_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

На этом этапе что мы сделали:
1. написали преобразователь поля gender, который делает OHE кодирование
2. написали преобразователь для поля tenure, который нормирует и центрирует его 
3. повторили п. 2 для поля TotalCharges
3. для всех остальных просто взяли признаки как они есть, без изменений

У нас уже готов наш пайплайн, который преобразовывает признаки. Давайте обучим модель поверх него. В качестве модели возьмем RandomForestClassifier

In [24]:
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline([
    ('features',feats),
    ('classifier', RandomForestClassifier(random_state = 42)),
])

pipeline.fit(X_train, y_train)

Pipeline(steps=[('features',
                 FeatureUnion(transformer_list=[('tenure',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='tenure')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('TotalCharges',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='TotalCharges')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('continuos_features',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key=['PhoneService',
                                                                                      'StreamingMovies',
                                                                                      'StreamingTV',
                                                                                      'TechSupport']))])),
                                                ('gender',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key='gender')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='gender'))]))])),
                ('classifier', RandomForestClassifier(random_state=42))])

##### 14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и убедитесь что вам возвращаются вероятности для 2 классов

In [25]:
preds = pipeline.predict_proba(X_test)
print(preds.shape)

(2325, 2)

##### 15. Посчитайте метрики качества получившейся модели (roc_auc, logloss)

In [26]:
from sklearn.metrics import roc_auc_score, log_loss
"sklearn.metrics.roc_auc_score(y_true, y_score, *, average='macro', sample_weight=None, max_fpr=None, multi_class='raise', labels=None)[source]"
"sklearn.metrics.log_loss(y_true, y_pred, *, eps=1e-15, normalize=True, sample_weight=None, labels=None)"

print(roc_auc_score(y_test,preds.T[1]))

print(log_loss(y_test,preds.T[1]))

0.7709203550109488
1.0277809929448245

### Сохраним наш пайплайн

In [27]:
import dill
with open("model_RF.dill", "wb") as f:
    dill.dump(pipeline, f)

ModuleNotFoundError: No module named 'dill'