### Проверка того, что наше api работает

Перед началом необходимо собрать docker-образ и запустить контейнер

1. Следовать инструкциям https://github.com/fimochka-sudo/GB_docker_flask_example/blob/main/README.md
2. Далее уже запускать код ниже

In [1]:
import pandas as pd
from sklearn.metrics import roc_auc_score,roc_curve
from urllib import request, parse

X_test = pd.read_csv("X_test.csv")
y_test = pd.read_csv("y_test.csv")

In [12]:
X_test.shape

(99, 12)

In [2]:
X_test.head(3)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,42.0,1,86,0,35,0,365000.00,1.10,139,1,1,201
1,75.0,0,582,0,40,0,263358.03,1.18,137,1,0,107
2,72.0,1,110,0,25,0,274000.00,1.00,140,1,1,65

In [6]:
 y_test.head(10)

   DEATH_EVENT
0            0
1            0
2            1
3            0
4            0
5            0
6            1
7            0
8            0
9            0

In [7]:
X_test.iloc[0].values

array([4.20e+01, 1.00e+00, 8.60e+01, 0.00e+00, 3.50e+01, 0.00e+00,
       3.65e+05, 1.10e+00, 1.39e+02, 1.00e+00, 1.00e+00, 2.01e+02])

In [8]:
import urllib.request
import json      

def get_prediction(patient_data):
    features_list = ['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
                     'ejection_fraction', 'high_blood_pressure', 'platelets',
                     'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time']
    body = dict(zip(features_list, patient_data))

    myurl = "http://0.0.0.0:8180/predict"
    req = urllib.request.Request(myurl)
    req.add_header('Content-Type', 'application/json; charset=utf-8')
    jsondata = json.dumps(body)
    jsondataasbytes = jsondata.encode('utf-8')   # needs to be bytes
    req.add_header('Content-Length', len(jsondataasbytes))
    #print (jsondataasbytes)
    response = urllib.request.urlopen(req, jsondataasbytes)
    return json.loads(response.read())['predictions']

In [9]:
get_prediction(X_test.iloc[2].values)

0.6725579294784203

In [13]:
%%time
predictions = X_test.iloc[:70].apply(lambda x: get_prediction(x.values), 1)

CPU times: user 69.4 ms, sys: 16.9 ms, total: 86.3 ms
Wall time: 3.31 s

In [14]:
roc_auc_score(y_score=predictions.values, y_true=y_test.iloc[:70])

0.9226666666666666